---
import Layout from "../layouts/Layout.astro";
import "@fontsource/great-vibes";
import HeroImage from "../layouts/HeroImage.astro";
import Text from "../layouts/Text.astro";
import image from "../assets/grass_background.jpeg";
---

<Layout title="About">
  <main>
    <HeroImage src={image} alt="trawa" title="Piękno tkwi w harmonii" />

    <Text>
      Muzyka jest jednym z najpiękniejszych wyrazów sztuki, zdolnym do wywołania
      głębokich emocji i wyrażenia nieopisanego piękna. Jednak harmonia w muzyce
      to nie tylko kwestia dźwięków, ale także symboliczna metafora. W muzyce
      harmonia odnosi się do równowagi między dźwiękami, które tworzą przyjemny,
      spójny dźwiękowy krajobraz. Jest ona zatem metaforą piękna, gdyż podobnie
      jak w życiu, przyciąga nasze zmysły. Ale harmonia w muzyce to nie tylko
      estetyka dźwięków. To również przekaz emocji i uczuć. Muzyka jest
      harmoniczna wtedy, gdy wyraża miłość, radość, pokój.Może być nośnikiem
      dobra, inspirując nas do lepszych uczynków. Piękno tkwi w harmonii, w
      równowadze między formą a treścią, między estetyką a znaczeniem. To jest
      to, co sprawia, że rzeczy są naprawdę piękne - ich zdolność do wywołania
      emocji i refleksji. Muzyka może budować mosty między ludźmi, zrozumienie i
      tolerancję. To, co sprawia, że muzyka jest dobra, to jej zdolność do
      wpływania na nasze serca i umysły. To jest to wszystko czym chcemy się
      podzielić z Tobą i Twoimi najbliższymi.
    </Text>
  </main>
</Layout>

<style>
  main {
    width: 100vw;
    color: rgb(254, 241, 223);
    font-size: 1.25rem;
    position: relative;
    display: block;
  }
  @media only screen and (max-width: 600px) {
    font-size: 8vw;
  }
</style>
