---
import Layout from "../layouts/Layout.astro";
import "@fontsource/great-vibes";
---

<Layout title="About">
  <main>
    <h1>Piękno tkwi w harmonii</h1>
    <p>
      Muzyka jest jednym z najpiękniejszych wyrazów sztuki, zdolnym do wywołania
      głębokich emocji i wyrażenia nieopisanego piękna. Jednak harmonia w muzyce
      to nie tylko kwestia dźwięków, ale także symboliczna metafora. W muzyce
      harmonia odnosi się do równowagi między dźwiękami, które tworzą przyjemny,
      spójny dźwiękowy krajobraz. Jest ona zatem metaforą piękna, gdyż podobnie
      jak w życiu, przyciąga nasze zmysły. Ale harmonia w muzyce to nie tylko
      estetyka dźwięków. To również przekaz emocji i uczuć. Muzyka jest
      harmoniczna wtedy, gdy wyraża miłość, radość, pokój.Może być nośnikiem
      dobra, inspirując nas do lepszych uczynków. Piękno tkwi w harmonii, w
      równowadze między formą a treścią, między estetyką a znaczeniem. To jest
      to, co sprawia, że rzeczy są naprawdę piękne - ich zdolność do wywołania
      emocji i refleksji. Muzyka może budować mosty między ludźmi, zrozumienie i
      tolerancję. To, co sprawia, że muzyka jest dobra, to jej zdolność do
      wpływania na nasze serca i umysły.
    </p>
    <br />
    <p>
      Kwartet smyczkowy jest idealnym wyborem na różnego rodzaju uroczystości,
      dzięki swojemu wyjątkowemu brzmieniu i wszechstronności repertuaru. Dzięki
      zdolności do interpretowania różnych gatunków muzycznych, od klasycznej
      muzyki kompozytorów takich jak Mozart i Bach, po współczesne przeboje czy
      muzykę filmową, nasz zespół potrafi dostosować się do każdej okazji i
      gustu publiczności. Stworzy wyjątkową atmosferę na ważnych wydarzeniach,
      takich jak śluby, bankiety, jubileusze czy wystawy. Kwartet smyczkowy to
      nie tylko doskonała oprawa muzyczna, ale także symbol elegancji i
      profesjonalizmu, który dodaje uroku każdej uroczystości. Jego harmoniczne
      dźwięki i umiejętność wywoływania emocji uczynią każde wydarzenie
      niezapomnianym, wyjątkowym i pełnym magii muzyki.
    </p>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 3rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
    background-image: url("grass_background.jpeg");
  }
  /* img {
    opposity: 0.5;
    width: 100%;
  }*/

  h1 {
    font-size: 6rem;
    font-weight: 700;
    font-style: italic;
    font-family: "Great Vibes";

    text-align: center;

    color: black;
  }
  p {
    font-family: "Great Vibes";
    font-size: 32px;
    color: black;
  }
</style>
