---
import Layout from "../layouts/Layout.astro";
---

<Layout title="contact">
  <main>
    <h2>Kontakt</h2>
    <p>Jelenia Góra tel. 883096943 zespółastrogra@gmail.com</p>
  </main>

  <style>
    main {
      margin: auto;
      padding: 1rem;
      width: 800px;
      max-width: calc(100% - 2rem);
      color: white;
      font-size: 20px;
      line-height: 1.6;
    }

    h1 {
      font-size: 4rem;
      font-weight: 700;
      line-height: 1;
      text-align: center;
      margin-bottom: 1rem;
    }
  </style>
</Layout>
