---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Homepage.">
  <main>
    <div class="hero">
      <h1 class="hero_title">Harmony Quartet</h1>
      <img class="main_photo" src="main_photo.jpg" alt="Zespół Astro" />
    </div>
  </main>
</Layout>

<style>
  @font-face {
    font-family: "Pinyon_Script";
    src: url("/fonts/pinyonScript-regular.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
  }
  main {
    width: 100%;
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  .hero_title {
    font-family: "Pinyon_Script";
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
  }
  .hero {
    width: 100%;
    position: relative;
    margin-top: 40px;
  }
</style>
