---
import Layout from "../layouts/Layout.astro";
import "@fontsource/great-vibes";
import HeroImage from "../layouts/HeroImage.astro";
import image from "../assets/main_photo.jpg"
---

<Layout title="Homepage.">
  <main>
    <HeroImage
      src={image}
      alt="Zespół Astro"
      title="Harmony Quartet"
    />
  </main>
</Layout>

<style>
  main {
    width: 100%;
    color: rgb(254, 241, 223);
    z-index: 10;
    position: relative;
  }
</style>
