---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Homepage.">
  <div class="navbar">
    <div style="background-color:white;
		height:100%;
		width:100px;">
      <img class="navbar_logo" src="logo.jpg"/>
    </div>
    <div
      style="background-color:white;
		height:100%;
		width:300px;
		display:flex;
		justify-content:space-evenly;"
    >
	
      <a class="navbar_button" href="/about/">About<a>
      <a class="navbar_button">Contact</a>
      <a class="navbar_button">Gallery</a>
    </div>
  </div>
  <main>
    <h1>Zespół Astro</h1>
    <img class="main_photo" src="main_photo.png" alt="Zespół Astro" />
  </main>
  <footer class="footer "><div class="footer_content"></div>&copy; created by Roxy, 2023;</footer>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    border: solid red 1px;
    display: flex;
    justify-content: space-between;
  }
  .navbar_button {
    font-size: 30px;
  }
  .main_photo {
    width: 100%;
    margin-bottom: 1rem;
  }
  .footer
  {
style;background-color:white;
text-align: center;

  }
  .navbar_logo
  {
	height: 100%;
  }
</style>
