---
import Layout from "../layouts/Layout.astro";
import "@fontsource/great-vibes";
---

<ol>
  <li>R. Wagner: Marsz weselny</li>
  <li>F. Mendelssohn: Marsz weselny</li>
  <li>J. S. Bach: Aria na strunie G</li>
  <li>J. S. Bach - Ch. Gounod: Ave Maria</li>
  <li>Fr. Schubert: Ave Maria</li>
  <li>G. Caccini: Ave Maria</li>
  <li>C. Franck: Panis Angelicus</li>
  <li>W.A. Mozart: Ave Verum Corpus</li>
  <li>L. Cohen: Hallelujah</li>
  <li>G. F. Handel: Largo</li>
  <li>A. Vivaldi: Cztery pory roku - Zima, 2 część koncertu - Largo</li>
  <li>J. Pachelbel: Canon</li>
  <li>. Schumann: Marzenie</li>
  <li>T. Albinoni: Adagio</li>
  <li>J. S. Bach: Aria na strunie G</li>
  <li>Arioso z koncertu klawesynowego f-moll BWV 1056</li>
  <li>J. Brahms: Kołysanka</li>
  <li>Taniec węgierski nr 5</li>

  <li>A. Corelli: Gigue (z sonaty d-moll) op. 5</li>
  <li>Concerto grosso g-moll op. 6 nr 8 Na Boże Narodzenie</li>

  <li>A. Dvorak: Humoreska</li>
  <li>Duettino nr 21 z opery Wesele Figara</li>
  <li>Eine kleine Nachtmusik</li>
  <li>Johann & Josef Strauss: Polka pizzicato</li>

   Piosenki - przeboje:

  <li>Adele: Skyfall</li>
  <li>H. Arlen: Somewhere Over the Rainbow</li>
  <li>The Beatles: Hey Jude</li>
  <li>Let it be</li>
  <li>Yesterday</li>

  <li>E. Di Capua: O Sole Mio</li>
  <li>Coldplay: Viva la Vida</li>
  <li>E. Costello: She (z filmu Notting Hill)</li>

  <li>L. Denza: Funiculi Funicula</li>

  <li>G. Gershwin: Summertime</li>
  <li>B. Howard: Fly me to the moon</li>
  <li>Michael Jackson: Smooth criminal</li>
  <li>Elton John: Can You Feel the Love Tonight (z filmu Król Lew)</li>
  <li>Ben E. King: Stand By Me</li>
  <li>Lady Gaga: Bad romance</li>
  <li>R. Lovland: You Raise Me Up</li>

  <li>B. Manilow: Copacabana</li>
  <li>Maroon 5 & Christina Aguilera: Moves like Jagger</li>
  <li>B. Mars: Marry You</li>
  <li>
    J. K. Pawluśkiewicz: Dni, których nie znamy (z repertuaru M. Grechuty)
  </li>
  <li>Christina Perri: A Thousand Years (z filmu Zmierzch)</li>
  <li>J. Petersburski: To ostatnia niedziela</li>
  <li>E. Presley: Love me tender (G. R. Poulton: Aura Lee)</li>
  <li>Sting: Russians</li>
  <li>Wł. Szpilman: W małym kinie</li>
  <li>S. Yradier: La Paloma</li>
  <li>H. Wars: Ach! Jak przyjemnie...</li>
  <li>Miłość ci wszystko wybaczy</li>

   Muzyka filmowa (tytuł filmu):

  <li>L. Cohen: Hallelujah (Shrek)</li>
  <li>E. Costello: She (Notting Hill)</li>
   87. M. Legrand: Parasolki z Cherbourga
</ol>
<li>Elton John: Can You Feel the Love Tonight (Król Lew)</li>
<li>A. Menken: Kolorowy wiatr (Pocahontas)</li>
<li>E. Morricone: Obój Gabriela (Misja)</li>
<li>Love Theme for Nata (Cinema Paradiso)</li>
<li>J. Homer: My heart will go on (Titanic)</li>
<li>H. Mancini: Moon River (Śniadanie u Tiffany'ego)</li>

<li>H. Wars: Ach! Jak przyjemnie... (Paweł i Gaweł)</li>
<li>Miłość ci wszystko wybaczy (Szpieg w masce)</li>
<li>Carlos Gardel: Por Una Cabeza (tango z filmu Zapach kobiety)</li>
<li>W. Kazanecki: Walc Barbary (Noce i dnie)</li>
<li>A. Kurylewicz: Polskie drogi</li>
<li>Christina Perri: A Thousand Years (Zmierzch)</li>
<li>Wł. Szpilman: W małym kinie</li>
<li>Piraci z Karaibów</li>
<li>Carlos Gardel: Por Una Cabeza (Tango z filmu Zapach kobiety)</li>
 Tanga:
<li>Johann & Josef Strauss: Polka pizzicatoE. Di Capua: O Sole Mio</li>
<li>J. Petersburski: To ostatnia niedziela</li>
<li>A.Piazzola Libertango</li>
<li>L. Searle: Evening Shadows</li>
<li>El Tango de Roxanne</li>
