---
import Layout from "../layouts/Layout.astro";
import "@fontsource/great-vibes";
import HeroImage from "../layouts/HeroImage.astro";
import Text from "../layouts/Text.astro";
import ExpandingList from "../components/ExpandingList.astro";
import image from "../assets/background_oferta.jpeg"
---

<Layout title="Oferta">

  
  <main>
    <HeroImage
      src={image}
      alt="rosa"
      title="Nasza oferta na uroczystości"
  />
    
    <Text>
      Kwartet smyczkowy jest idealnym wyborem na różnego rodzaju uroczystości,
      dzięki swojemu wyjątkowemu brzmieniu i wszechstronności repertuaru. Dzięki
      zdolności do interpretowania różnych gatunków muzycznych, od klasycznej
      muzyki kompozytorów takich jak Mozart i Bach, po współczesne przeboje czy
      muzykę filmową, nasz zespół potrafi dostosować się do każdej okazji i
      gustu publiczności. Stworzy wyjątkową atmosferę na ważnych wydarzeniach,
      takich jak śluby, bankiety, jubileusze czy wystawy. Kwartet smyczkowy to
      nie tylko doskonała oprawa muzyczna, ale także symbol elegancji i
      profesjonalizmu, który dodaje uroku każdej uroczystości. Jego harmoniczne
      dźwięki i umiejętność wywoływania emocji uczynią każde wydarzenie
      niezapomnianym, wyjątkowym i pełnym magii muzyki.
    </Text>
    <br />
    <Text>Nasze propozycje na różne okazje:</Text>
    <ul>
      <ExpandingList title="Ślub (kościelny, cywilny, humanistyczny)" list={["Ave","Titanic","Majteczki w kropeczki"]}/>
      <li>Uroczysty obiad</li>
      <li>Rocznica</li>
      <li>Jubilesz</li>
      <li>Urodziny</li>
      <li>Pierwszy taniec</li>
      <li>Eventy firmowe</li>
    </ul>
  </main>
</Layout>

<style>
  main {
    width: 100vw;
    color: rgb(254, 241, 223);
    font-size: 1.25rem;
    position: relative;
    display: block;
  }
  
  ul {
    font-size: 1.75rem;
    color: rgb(254, 241, 223);
    letter-spacing: 1px;
  }
  li{
    line-height: 4rem;
  }
  ol {
    color: color: rgb(254, 241, 223);
    font-size: 1.25rem;
  }
 
</style>
