---
import "@fontsource/great-vibes";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>
  </head>
  <body>
    <div class="navbar">
      <div class="navbar_logo" height:100%; width:100px;'>
        <a href="/">
          <img class="navbar_logo_image" src="logo.png" />
        </a>
      </div>

      <div class="navbar_buttons">
        <a class="navbar_button" href="/about">O nas</a>
        <a class="navbar_button" href="/oferta">Oferta</a>
        <a class="navbar_button" href="/contact">Kontakt</a>
      </div>
    </div>
    <slot />
    <footer class="footer">
      <div class="footer_content"></div>&copy; created with ❤️ by <a
        href="https://github.com/roxyburdzy">Roxy</a
      >, 2023;
    </footer>

    <style is:global>
      :root {
        font-family: Great Vibes;
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );
      }

      * {
        box-sizing: border-box;
      }

      html {
        background: #000;
        background-size: 224px;
        box-sizing: border-box;
        font-size: 16px;
        @media only screen and (max-width: 600px) {
          font-size: 12px;
          letter-spacing: 1, 5px;
        }
      }
      body {
        height: 100vh;
        margin: 0;
        color: rgb(254, 241, 223);
      }
      code {
        font-family:
          Great Vibes,
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }

      .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        background-color: black;
        z-index: 100;
        padding: 0 1rem;
      }

      .main_photo {
        width: 100%;
        margin-bottom: 1rem;
      }
      .footer {
        width: 100%;
        padding: 30px 0;
        color: white;
        text-align: center;
      }
      .navbar_logo {
        padding: 0.2rem;
      }
      .navbar_logo_image {
        height: 100%;
      }
      .navbar_buttons {
        height: 100%;
        display: flex;
        justify-content: space-evenly;
      }
      .navbar_button {
        font-size: 2.5rem;
        z-index: 11;
        color: white;
        line-height: 60px;
        margin: 0 15px;
      }
    </style>
  </body>
</html>
